
<div class="well well-sm">

 <h2>Create account</h2>

 <!-- Creates a form that is used to transfer data to the database. JavaScript is used to ensure the length of the password and the username are at least 5 characters  -->
<form action="/createaccount" method="post" name="myForm" 
onsubmit= "return validateForm()" class="form-group">
 Username:<input type="text" name="username" class="form-control"><br>
 Password:<input type="password" name="password" class="form-control"><br>
 <input type="submit" value="Create!" class="btn btn-primary">
</form> 

</div>