<div class="well well-sm">

 <p>Your chosen box: <%= $webgame.chosenbox %></p>

<br>
<p>Press go to start opening boxes!</p>
<form action="/openboxes" method="get" class="form-group">
 <input type="submit" value="Go" class="btn btn-success">
 </form>

</div>