
<div class="well well-sm">

<h2>Welcome to Deal or no Deal!</h2>
<p>Feel free to test your luck!</p>

<div class="well well-sm text-justify">
    <article>Game Rules
		<ul>
			<li>To begin your game you need to login or create an account if you have not got one.</li>
			<li>Click “New” on the right side of the navigation bar.</li>
			<li>Select the box you wish to keep for the rest of the game.</li>
			<li>Press “Go.”</li>
			<li>Begin to open a box per turn while assessing the offer the banker gives you.</li>
			<li>You have the option of taking the deal or continue opening boxes in order to win a bigger prize.</li>
			<li>Once you have taken a deal you can continue to open the remaining boxes to see what prize you could have won.</li>
			<li>In case you chose not to accept any offers until there are 2 boxes left in the game you have the option to take the final deal or open your box.</li>
			<li>You can review the highscores and the Game Analysis at any point of the game.</li>
		</ul>
  
</article>
    
</div>

<hr />
    <div class="form-group">
        <h5>Sign up or click "New" to play</h4>
        
    </div>
<p>Number of games played: <%= $gamesplayed %></p>




</div>