<div class="well well-sm">

<h2>Login</h2><br>
<form action="/login" method="post" name="myForm" 
onsubmit= "return validateForm()" class="form-group">
 Username:<input type="text" name="username" class="form-control" ><br>
Password: <input type="password" name="password" class="form-control"><br>
 <input type="submit" value="Login!">
</form>
<p>Not have an account? <a href="/createaccount">Create Account</a></p>

</div>